.blog p {
	color: #66543E;
	line-height: 3rem;
	font-family: helvetica;
}

.contact-me  a  {
	display: flex;
	flex-direction: row;
	margin-top: 3rem;
	}

.name-header {
  color: #f2f2f2;
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  font-size: 6rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}